ul.navBar {
  margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    flex-wrap: nowrap;

    > li {
        width: 5rem;
        justify-content: center;
        align-items: center;
    }
}

.c-media {
    margin: 12px 0;
    width: 100%;
    display: flex;

    .c-media__img {
        margin: 0 14px 14px 0;
    }

    img {
        width: 150px;
        box-shadow: 5px 5px 5px $gray_70;
        margin: 3px 5px 5px 0;
    }

    table {
        border: 0;
        border-collapse: collapse;

        th {
            width: 8em;
            white-space: nowrap;
            line-height: 0.9;
            padding: 4px 0;
            text-align: left;
            vertical-align: top;

            > span {
                font-weight: normal;
                font-size: 0.8em;
                white-space: nowrap;
            }
        }

        td {
            padding: 4px 0;
            text-align: left;
            vertical-align: top;
        }
    }
}

#dharma > .schedule {
  width: 100%;
    > div {
      width: 100%;
      > ul{
        padding:10px;
        border: 3px groove $color_white_rock_50_approx;
        list-style: none;
        > li {

        }
      }
    }
}

@media screen and(min-width: 769px) {
    .c-media {
        align-items: flex-start;
        flex-direction: row;
    }

    .c-media__img img {
        align-self: flex-start;
    }
}

@media screen and(min-width: 600px) {
    #dharma > .schedule {
      display: flex;
  	flex-direction: row;
  	justify-content: space-between;
  	align-items: flex-start;

  			> div {
          margin:20px;
  				flex: 1 1 280px;
  			}
  }
}
