//colors
$navy_blue_100: rgba(0, 0, 128, 1);
$color_celeste_approx: #ccc;
$color_fuscous_gray_approx: #555;
$color_portage_90_approx: rgba(128, 128, 255, 0.9);
$color_white_90_approx: rgba(256, 256, 256, 0.9);
$color_portage_30_approx: rgba(128, 128, 256, 0.3);
$gray_80: rgba(128, 128, 128, 0.8);
$white: white;
$color_tara_approx: #e2f4e8;
$black_20: rgba(0, 0, 0, 0.2);
$black: #000;
$gray_70: rgba(128, 128, 128, 0.7);
$color_white_70_approx: rgba(256, 256, 256, 0.7);
$black_75: rgba(0, 0, 0, 0.75);
$color_mountain_mist_approx: #999;
$color_storm_dust_approx: #666;
$color_white_rock_50_approx: rgba(236, 232, 211, .5);
//fonts
$font_0: "Jeju Gothic";
$font_1: sans-serif;
$font_2: "KoPub Batang";
$font_3: serif;
//urls
// $url_0: url("http://fonts.googleapis.com/earlyaccess/jejugothic.css");
// $url_1: url("http://fonts.googleapis.com/earlyaccess/kopubbatang.css");
// $url_2: url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
// $url_3: url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
// $url_4: url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
// $url_5: url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
// $url_6: url(http://fonts.googleapis.com/earlyaccess/hanna.css);
// $url_7: url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
// $url_8: url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
// $url_9: url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css);
// $url_10: url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

$url_11: url("../images/paper.jpg");
$url_12: url("../images/mountains2.jpg");
$url_13: url("../images/hanja.png");
$url_14: url("../images/layout.svg");
